{% extends "landing/base.html" %}
{% load static %}

{% block content %}
<section class="page-hero small" style="background-image: url('{% static 'images/bg-hero.webp' %}'); ackground-size: cover; background-position: center; padding: 2rem 0; height: 60vh; position: relative;">
  <div class="hero-overlay">
    <h1>Services UGTF</h1>
    <p style="font-weight: 700;">Here are what we deliver</p>
  </div>
</section>

<section class="about-page" style="background-image: url('/static/images/office1.png');">
    <div class="overlay2"></div>
    <div class="container">

<section class="services-page">
    <div class="container">

        
        <div class="services-heading fade-in-left">
            <h1>Our Services</h1>
        </div>
        
        <div class="services-content fade-in-right">
          <div class="service-item">
            <h1>Software Development</h1>
            <p>UGTF (Urhobo Global Tech Foundation) offers a robust suite of Software Development services tailored for businesses and organizations looking to scale, modernize, or innovate digitally. Here's a breakdown of what we provide: Web Applications: Custom-built platforms for business operations, e-commerce, and service delivery, Mobile Applications: Native and cross-platform apps for iOS and Android, APIs & Platforms: Backend systems and integrations to power scalable digital products, </p>
          </div>
        </div>

        
    </div>
</section>
<section class="services-page">
    <div class="container">

        
        <div class="services-heading fade-in-left">
            {% comment %} <h1>Our Services</h1> {% endcomment %}
        </div>
        
        <div class="services-content fade-in-right">
          <div class="service-item">
            <h1>Cybersecurity & Penetration Testing</h1>
            <p>We provide end-to-end cybersecurity services including external/internal network testing, web/API assessments, cloud security audits, wireless/IoT evaluations, social engineering simulations, and red teaming. Our approach identifies real vulnerabilities, quantifies business risk, and delivers actionable remediation to ensure systems remain secure, resilient, and compliant across diverse environments.</p>
          </div>
        </div>

        
    </div>
</section>
<section class="services-page">
    <div class="container">

        
        <div class="services-heading fade-in-left">
            {% comment %} <h1>Our Services</h1> {% endcomment %}
        </div>
        
        <div class="services-content fade-in-right">
          <div class="service-item">
            <h1>Cloud & DevOps services</h1>
            <p>AWe deliver end-to-end Cloud and DevOps solutions including cloud migration, IaC, CI/CD, container orchestration, GitOps, observability, cost governance, and security. Our services enable scalable, secure infrastructure with automated operations, efficient deployments, and 24/7 support—empowering teams to build and run software faster, reliably, and compliantly.</p>
          </div>
        </div>

        
    </div>
</section>
<section class="services-page">
    <div class="container">

        
        <div class="services-heading fade-in-left">
            {% comment %} <h1>Our Services</h1> {% endcomment %}
        </div>
        
        <div class="services-content fade-in-right">
          <div class="service-item">
            <h1>Data & Analytics</h1>
            <p>We provide end-to-end data services including strategy, architecture, engineering, analytics, and governance. Our solutions enable scalable platforms, reliable pipelines, interactive dashboards, advanced ML, and compliance with GDPR/HIPAA. We ensure data quality, observability, and empower teams through training and tools to turn raw data into actionable business insights.</p>
          </div>
        </div>

        
    </div>
</section>
<section class="services-page">
    <div class="container">

        
        <div class="services-heading fade-in-left">
            {% comment %} <h1>Our Services</h1> {% endcomment %}
        </div>
        
        <div class="services-content fade-in-right">
          <div class="service-item">
            <h1>UI/UX & Design</h1>
            <p>We deliver end-to-end UI/UX services including strategy, research, interaction and visual design, prototyping, testing, and implementation support. Our approach transforms user insights and business goals into intuitive interfaces, scalable design systems, and optimized content—ensuring seamless collaboration, measurable product experiences, and improved usability across platforms.</p>
          </div>
        </div>

        
    </div>
</section>
<section class="services-page">
    <div class="container">

        
        <div class="services-heading fade-in-left">
            {% comment %} <h1>Our Services</h1> {% endcomment %}
        </div>
        
        <div class="services-content fade-in-right">
          <div class="service-item">
            <h1>QA & Testing</h1>
            <p>We offer comprehensive QA services covering functional, automated, performance, security, compatibility, and accessibility testing. Our approach ensures production-ready software through UAT support, test data provisioning, and environment orchestration. Using tools like Selenium and Playwright, we validate reliability, scalability, and compliance across devices, browsers, and user scenarios.</p>
          </div>
        </div>

        
    </div>
</section>

{% endblock %}