{% extends "landing/base.html" %}
{% load static %}

{% block content %}
<section class="page-hero small" style="background-image: url('{% static 'images/bg-hero.jpg' %}');">
  <div class="hero-overlay">
    <h1>Services</h1>
    <p>What we deliver</p>
  </div>
</section>

<section class="services-page">
    <div class="container">

        
        <div class="services-heading fade-in-left">
            <h1>Our Services</h1>
        </div>
        
        <div class="services-content fade-in-right">
          <div class="service-item">
            <h1>Web/App Development</h1>
            <p>interactive digital experiences—websites and applications—that run on browsers or mobile devices. It includes both frontend (user interface) and backend (server-side logic) components.</p>
          </div>
        </div>

        
    </div>
</section>
<section class="services-page">
    <div class="container">

        
        <div class="services-heading fade-in-left">
            {% comment %} <h1>Our Services</h1> {% endcomment %}
        </div>
        
        <div class="services-content fade-in-right">
          <div class="service-item">
            <h1>Online Payment Integration</h1>
            <p>integrate online payment into your web or mobile app, you'll need to choose a payment gateway (like Paystack, Flutterwave, Stripe, or PayPal), set up secure data handling, and connect it to your checkout flow using APIs or SDKs.</p>
          </div>
        </div>

        
    </div>
</section>
<section class="services-page">
    <div class="container">

        
        <div class="services-heading fade-in-left">
            {% comment %} <h1>Our Services</h1> {% endcomment %}
        </div>
        
        <div class="services-content fade-in-right">
          <div class="service-item">
            <h1>Dev Ops</h1>
            <p>DevOps is a software development approach that combines development (Dev) and operations (Ops) to streamline the process of building, testing, and deploying applications. It emphasizes automation, collaboration, and continuous improvement.</p>
          </div>
        </div>

        
    </div>
</section>
<section class="services-page">
    <div class="container">

        
        <div class="services-heading fade-in-left">
            {% comment %} <h1>Our Services</h1> {% endcomment %}
        </div>
        
        <div class="services-content fade-in-right">
          <div class="service-item">
            <h1>LM/CRM</h1>
            <p>LM (Lead Management) and CRM (Customer Relationship Management) are both tools used to manage business relationships, but they serve different purposes: LM focuses on acquiring and tracking leads, while CRM manages ongoing customer relationships and interactions.</p>
          </div>
        </div>

        
    </div>
</section>

{% endblock %}